@import 'css/variables.scss';

* {
    transition: all 0.2s ease-in-out;
}

body {
    background-color: black;

    #bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.3;
    }
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: $color-head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    h1 {

        a {
            text-decoration: none;
            color: white;

            @media screen and (max-width: $breakpoint-md) {
                font-size: $font-size-lg
            }
        }
    }

    .links {
        ul {
            display: flex;
            list-style-type: none;
            align-items: center;
            gap: 20px;

            a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

            li {
                transition: scale 0.3s ease-in-out;

                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:hover {
                    scale: 1.1;
                }

                @media screen and (max-width: $breakpoint-lg) {
                    display: none;
                    background-color: red;
                }
            }

            .hamburger {
                display: none;

                @media screen and (max-width:$breakpoint-lg) {
                    display: block;
                    cursor: pointer;
                    font-size: $font-size-lg;

                    select {
                        padding: 5px 10px;
                        background: none;
                        color: white;
                        font-weight: bold;
                        border: none;
                    }
                }
            }

            #logout {
                width: 80px;
                height: 40px;
                font-size: $font-size-base;
                background-color: #fff;
                border: none;
                border-radius: 20px;

                a {
                    color: $color-accent;
                }

                &:hover {
                    background-color: black;
                    cursor: pointer;

                    a {
                        color: white;
                    }
                }
            }
        }
    }
}